
.vs/ProjectEvaluation/gridlife.projects.v6.1
.vs/ProjectEvaluation/gridlife.metadata.v6.1
.vs/GridLife/v17/.suo
.vs/GridLife/FileContentIndex/f742ccd0-599b-4f03-9003-438653fdb13f.vsidx
.vs/GridLife/FileContentIndex/b5e6caa4-469d-44c2-9e31-a90177c1f208.vsidx
.vs/GridLife/FileContentIndex/956153bf-a439-4ed2-bb37-096f0bb70eeb.vsidx
.vs/GridLife/FileContentIndex/8eeb2403-381d-4ed5-b4af-a4afa90e028f.vsidx
.vs/GridLife/FileContentIndex/2981fd2d-82f1-4a49-8ed6-6eaef01540e0.vsidx
.vs/GridLife/DesignTimeBuild/.dtbcache.v2
.vs
.vscode
